.title-info {
  margin-bottom: 38px;
}

.title-info h1 {
  font-size     : 26px;
  margin-bottom : 6px;
  padding-bottom: 6px;
  border-bottom : #3498db solid 2px;
}

.title-info span {
  color       : #95a5a6;
  font-size   : 15px;
  margin-right: 12px;
}

.title-info ul {
  list-style-type: none;
  margin-top     : 4px;
}

.title-info ul li {
  margin-right: 8px;
  font-size   : 15px;
  color       : #95a5a6;
  float       : left;
}

.title-info ul li a {
  color     : #95a5a6;
  transition: .3s;
}

.title-info ul li a:hover {
  color: #34495e;
}

@media only screen and (min-width: 600px) {
  /* for tablets and desktops */

  .title-info {
    margin-bottom: 50px;
  }

  .title-info h1 {
    font-size    : 36px;
    padding-left : 10px;
    padding-right: 10px;
  }

  .title-info span {
    margin-right: 4px;
    padding-left: 12px;
  }

  .title-info ul {
    display       : inline-block;
    margin-top    : 0;
    padding-left  : 10px;
    vertical-align: bottom;
  }
}
