.tag-list {
  list-style-type: none;
  padding        : 0 8px;
}

.tag-list>li {
  height       : 30px;
  font-size    : 16px;
  margin-bottom: 6px;
  margin-right : 6px;
  padding      : 0 12px;
  padding-top  : 5px;
  line-height  : 22px;
  background   : #e67e22;
  border-radius: 80px;
  float        : left;
}

.tag-list>li a {
  color: white;
}
