.about-header h1 {
  font-size: 28px;
  padding  : 0 8px;
}

.about-header p {
  font-size     : 16px;
  margin        : 12px 0 24px;
  padding       : 0 8px;
  padding-bottom: 8px;
  border-bottom : #2ecc71 solid 2px;
}

.about {
  margin   : 24px 4px;
  font-size: 16px;
}

.about>span {
  display    : block;
  line-height: 24px;
}

.about>ul {
  list-style-type: none;
  margin-top     : 8px;
  display        : block;
}

.about>ul>li {
  display       : inline-block;
  margin-right  : 14px;
  vertical-align: top;
}

.about>ul * {
  color    : #2c3e50;
  font-size: 24px;
}

.about>span>a {
  color         : #2c3e50;
  font-size     : 20px;
  vertical-align: middle;
}

@media only screen and (min-width: 600px) {
  /* for tablets and desktops */

  .about-header h1 {
    font-size: 32px;
  }

  .about {
    margin: 20px 10px;
  }
}
