.footer {
  text-align        : center;
  font-size         : 14px;
  color             : #bdc3c7;
  margin-bottom     : 18px;
  display           : grid;
  grid-template-rows: 1fr 1fr;
}

.footer span {
  padding    : 4px 0;
  line-height: 16px;
}

.footer ul {
  list-style-type: none;
  display        : inline-block;
}

.footer li {
  display    : inline-block;
  margin-left: 5px;
}

.footer a {
  color     : #bdc3c7;
  transition: .3s;
}

.footer a:hover {
  color: #95a5a6;
}
